<div class="body">
  <nav class="navbar navbar-dark bg-dark">
    <a routerLink="/home">
      <img src="../../assets/hospital.png">
    </a>
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Menu
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item">Visualizar Cadastros</a>
        <a class="dropdown-item" routerLink="/cadastro">Criar Cadastros</a>
      </div>
    </div>
  </nav>
</div>